* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  html, body {
    height: 100%;
    overflow-x: hidden;
  }

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
 
  
}

a {
    all: unset; 
    display: inline-block;
    cursor: pointer; 
    text-decoration: none; 
    color: inherit; 
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  h2 {
    margin: 20px 0;
  }