html{
  overflow: hidden;
 
}

 .logo{
  width: 100px;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
 
  
}

a {
    all: unset; 
    display: inline-block;
    cursor: pointer; 
    text-decoration: none; 
    color: inherit; 
}