
@import url('../side_bar.css');
@import url('./modal-inscricoes.css');
@import url('../inscricoes/tables.css');



.status {
  padding: 6px 12px;
  border-radius: 5px;
  font-weight: bold;
  display: inline-block;
  font-size: 14px;
  width: 100%;
}

.pending {
  background-color: #f0f0f0;
  color: #333;
}

.accepted {
  background-color: #4CAF50;
  color: white;
}

.rejected {
  background-color: #F44336;
  color: white;
}

.btn-view {
  background-color:  #459FCF;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
  font-size: 14px;
}

.btn-view:hover {
  background-color: #0056b3;
}

/* Media Queries para telas maiores */
@media (min-width: 768px) {
  
  
  table {
    min-width: auto;
  }
  
  th, td {
    padding: 12px;
  }
}

@media (min-width: 1024px) {
  
  .status {
    padding: 8px 16px;
  }
  
  .btn-view {
    padding: 10px 15px;
  }
}