

@import url('../side_bar.css');
@import url('./definicoes-modal.css');
@import url('../message-modal.css');

.settings-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  overflow-x: hidden;
}

.item-section {
  padding: 20px;
  overflow-x: hidden;
  cursor: pointer;
  transition: background-color 0.2s;
  border-radius: 5px;
}

.item-section:hover {
  
  background-color: #f4f4f4;
}

.item-section h3 {
  font-size: 1rem;
}

.item-section p {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  color: #2e2e2e;
}

/* Media Queries para telas maiores */
@media (min-width: 768px) {

}

@media (min-width: 1024px) {

  .item-section {
    padding: 25px;
  }
  
  .item-section h3 {
    font-size: 1.1rem;
  }
  
  .item-section p {
    font-size: 0.9rem;
  }
}